data_dir: /var/lib/vector
sources:
  local_logs:
    type: file
    include:
      - /var/log/**/*.log
    read_from: beginning
sinks:
  local_to_clickhouse:
    type: clickhouse
    inputs:
      - local_logs
    endpoint: http://{{ hostvars['clickhouse-01'].ansible_host }}:8123
    database: "{{ clickhouse_dbname }}"
    table: "{{ clickhouse_tablename }}"
    auth:
      user: "{{ clickhouse_user }}"
      password: "{{ clickhouse_password }}"
      strategy: basic
    compression: gzip
    healthcheck: false
    skip_unknown_fields: true


